fastapi==0.111.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
llama-index-core==0.12.24.post1
llama-index-vector-stores-pinecone==0.6.0
llama-index-embeddings-huggingface==0.4.0
llama-index-llms-google-genai==0.1.5
pinecone-client==3.2.2
huggingface-hub==0.23.2
transformers==4.46.2
tokenizers==0.20.3 --only-binary=:all:
numpy>=2.1.0
google-generativeai==0.8.5

